<div class="container">
  <h1><%= @business.name %></h1>
</div>
  <div class="row">
      <% if @business.photos.nil? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "https://res.cloudinary.com/drllepyzu/image/upload/v1614315723/qu1ny7iv2ggv23phcshb8mrb9mac.jpg", height: 300, width: 400, crop: :fill %>')">
      <% else %>
          <img class="d-block w-100"  src= "<%= cl_image_path @business.photos[0].key, crop: :fill %>", height: "300", width:"550">
<br>
      <% end %>
<br>

<div class="col-md-6 offset-md-3 mt-5" style="margin:0 auto">
  <div class="card-header">
    <strong><%= @business.name %></strong>
</div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item" id="name"><strong>Address:  </strong><%= @business.address %>
          <li class="list-group-item"><strong>Style:  </strong> <%= @business.style %></li>
          <div class="col-md-6 offset-md-3 mt-5" style="margin:0 auto">
             <div class="card-header">
                   <h3><%# link_to "Leave a review", business_reviews(@business) %></h3>
             </div>
                    <% @business.reviews.each do |review| %>
                         <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Review:  </strong><%= review.content %>
                                  <strong>Photos:  </strong><%# review.photos[0] %>
                              </id>
                            </li>
                          </ul>
                    <% end %>
                      <p><%# link_to "Edit", edit_business_path(@business) %></p>
                      <p><%# link_to "Delete", business_path(@business), method: :delete %></p>
</div>
</div>
                   <h3><%= link_to "Back", businesses_path %></h3>
